.item-image {
  float: left;
  padding-right: 10px;
}
.item {
  padding: 10px;
  border: 1px solid;
  justify-content: center;
}
.item-head,
.item-desc {
  color: rgb(54, 54, 54);
}
.item a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(95, 95, 243);
  font-weight: bold;
}
.item a:hover {
  background-color: rgb(95, 95, 243);
  color: rgb(245, 239, 228);
}
.main {
  margin: 40px 16% 35px 0%;
  padding: 10px 10px 0px 0px;
}
.link_tag {
  cursor: pointer;
}
